* {
    margin:0;
    padding:0;
}
body {
    min-width:700px;
}
.header {
   background-color: blue;
    width:100%;
    height:30px;
    text-align: center;
    line-break: 30px;
}
.container {
    margin:0 200px;
    background-color: aqua;
}
.left,
.middle,
.right {
    position: relative;
    float: left;
    min-height: 300px;
}
.middle {
    width:100%;
    background-color: green;
}
.left {
    width:200px;
    background: #1a5acd;
    margin-left:-100%;
    left:-200px;
}
.right {
    width:200px;
    background: chartreuse;
    margin-left:-200px;
    right: -200px;
}
.footer {
    float: left;
    width:100%;
    background: #ddd;
    height:40px;
    line-height: 40px;
    text-align: center;
}